@charset "utf-8";
/* CSS Document */
html,body
{
	background-color:#F5F5F5;
	font-size:12px;
	margin:0 auto;
	padding:0;
	cursor:default;
	font-family:Arial, Helvetica, sans-serif;
}
img{border:none;}
div,form,ul,ol,li,span,p,dt,dd,dl {margin: 0; padding: 0; border: 0;}
ul,li{margin:0px;padding:0px; list-style:none}
a{text-decoration:none;}

.blank1 {margin:0 auto; width:100%; height:1px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank2 {margin:0 auto; width:100%; height:2px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank3 {margin:0 auto; width:100%; height:3px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank4 {margin:0 auto; width:100%; height:4px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank5 {margin:0 auto; width:100%; height:5px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank8 {margin:0 auto; width:100%; height:8px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank9 {margin:0 auto; width:100%; height:9px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank10 {margin:0 auto; width:100%; height:10px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank12 {margin:0 auto; width:100%; height:12px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank13 {margin:0 auto; width:100%; height:13px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank15 {margin:0 auto; width:100%; height:15px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank17 {margin:0 auto; width:100%; height:17px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank19 {margin:0 auto; width:100%; height:19px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank20 {margin:0 auto; width:100%; height:20px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank25 {margin:0 auto; width:100%; height:25px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
.blank30 {margin:0 auto; width:100%; height:30px; font-size:1px;clear:both;overflow:hidden;line-height:0px}
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {margin-left: auto;margin-right: auto;width: 900px;}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_260,
.grid_390,
.grid_820,
.grid_860{
	display:inline;
	float: left;
	position: relative;
	
}
.grid_image{
	display:inline;
	float: left;
	position: relative;
}

.container_12 .grid_260 {width:240px; margin-left: 20px; margin-right: 20px;}
.container_12 .grid_390 {width:390px; margin-left: 20px; margin-right: 20px;}
.container_12 .grid_820 {width:820px; margin-left: 40px; margin-right: 40px;}
.container_12 .grid_860 {width:860px; margin-left: 20px; margin-right: 20px;}





/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.clearfix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* Top
----------------------------------------------------------------------------------------------------*/
#top{margin-top:60px}
.logo{float:left; }
.navigation {padding-top:15px;}
.navigation li{float:right; margin-left:15px;}
.navigation li img{cursor:pointer}
.button {cursor:pointer}
.navigation .button {
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	width:110px;
	height:23px;
	background-color:#4E5350;
	color:#F7F7F7;
	text-align:center;
	font-size:14px;
	font-family:Helvetica,Arial;
	padding-top:7px;}
.navigation .button a{color:#F7F7F7}
.navigation .button:hover,
.navigation #checked{
	background-color:#A2D4DF;}

/* Bottom
----------------------------------------------------------------------------------------------------*/
.bottom{height:80px; border-top:#E3E1DC dashed 1px; padding:10px 20px; color:#B5B1AA; text-align:center;}


/* Portfolio Grid Item
----------------------------------------------------------------------------------------------------*/
.portfolio_grid{padding:10px;}
.grid_260 .grid_text{color:#666B68; font-family:Helvetica,Arial; text-align:center; font-weight:bold;}
.grid_260 .grid_text .blue{color:#5CA7BE}
.grid_260 {
	padding:5px; 
	cursor:pointer;
	background-color:#f5f5f5;
	height:200px;
	border:#f5f5f5 1px solid;
}
.grid_260:hover {
	background-color:#ffffff;
	border:#8DD1E7 1px solid;
	-moz-box-shadow: 0 0 10px rgba(141,209,231,0.5);
	-webkit-box-shadow: 0 0 10px rgba(141,209,231,0.5);
	-o-box-shadow: 0 0 10px rgba(141,209,231,0.5);
	box-shadow: 0 0 10px rgba(141,209,231,0.5);
	transation:background-color 1s;
	-moz-transition:background-color 1s;
	-webkit-transition:background-color 1s;
	-o-transition:background-color 1s;
	transation:border 1s;
	-moz-transition:border 1s;
	-webkit-transition:border 1s;
	-o-transition:border 1s;
}
.grid_260 img{
	opacity:0.7;
	filter:alpha(opacity=70);
	transition:opacity 1s;
	-moz-transition:opacity 1s;
	-webkit-transition:opacity 1s;
	-o-transition:opacity 1s;
}
.grid_260:hover img{
	opacity:1;
	filter:alpht(opacity=100);
	transition:opacity 1s;
	-moz-transition:opacity 1s;
	-webkit-transition:opacity 1s;
	-o-transition:opacity 1s;
}
.grid_img{width:238px; height:158px; border:#ccc 1px solid;}
/* About me
----------------------------------------------------------------------------------------------------*/
.aboutme{min-height:100px;}
.aboutme_title{font-size:14px; font-family:Helvetica,Arial; line-height:24px; color:#828282; border-bottom:#E3E1DC 1px solid; font-weight:bold;}
.aboutme_item{padding-left:5px; line-height:24px; padding-right:5px;color:#828282;position:relative;}
.aboutme_item .blue{color:#5CA7BE}
#link {text-decoration:underline;}
.aboutme_circle{
	width:160px;
	height:160px;
	position:absolute;
	border-radius:80px;
	-moz-border-radius:80px;
	-webkit-border-radius:80px;
	top:10px;
	opacity:0.7;
	filter:alpht(opacity=70);
}
.circle_blue1{
	background-color:#83C7DC;
	left:290px;
	z-index:100;
}
.circle_blue2{
	background-color:#A6D3E0;
	left:370px;
	z-index:200px;
}
.aboutme_item .aboutme_devided {width:405px; float:left; display:inline;}

/* Portfolio Page
----------------------------------------------------------------------------------------------------*/
.path{height:100px; position:relative;}
.path_line{background-color:#ccc; width:100%; height:1px; position:absolute; top:35px; z-index:1;}
.path_circle{
	width:8px;
	height:8px;
	background:#fff;
	border:#969696 2px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	position:absolute;
	top:30px;
	z-index:100;
	cursor:pointer;
}
.path_circle:hover,
.path_checked{
	width:9px;
	height:9px;
	border-color:#A2D4DF;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	top:29px;
	-moz-box-shadow: 0 0 5px rgba(141,209,231,0.5);
	-webkit-box-shadow: 0 0 5px rgba(141,209,231,0.5);
	-o-box-shadow: 0 0 5px rgba(141,209,231,0.5);
	box-shadow: 0 0 5px rgba(141,209,231,0.5);
}
#circle_now{left:20px;}
#circle_fip{left:80px;}
#circle_protosearch{left:350px;}
#circle_author{left:490px;}
#circle_icelldx{left:600px;}
#circle_xgainian{left:710px;}
#circle_pizzahot{left:780px;}
.path_text{color:#4E5350; position:absolute; top:17px; z-index:200}
#text_now{left:0px;}
#text_2012{left:50px;}
#text_2011{left:320px;}
#text_2010{left:570px;}
#text_2009{left:750px;}
.path_img_container{
	width:58px;
	height:38px;
	background-color:#f8f8f8;
	border:#A2D4DF 1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	position:absolute;
	top:52px;
	-moz-box-shadow: 0 0 5px rgba(141,209,231,0.5);
	-webkit-box-shadow: 0 0 5px rgba(141,209,231,0.5);
	-o-box-shadow: 0 0 5px rgba(141,209,231,0.5);
	box-shadow: 0 0 5px rgba(141,209,231,0.5);
	display:none;
}
.path_img_container img{
	width:50px;
	height:30px;
	margin-left:4px;
	margin-top:4px;
}
#img_fip{left:56px;}
#img_protosearch{left:326px;}
#img_author{left:466px;}
#img_icelldx{left:576px;}
#img_xgainian{left:686px;}
#img_pizzahot{left:756px;}

.work_title {font-size:24px; font-family:Helvetica,Arial; line-height:30px; color:#828282;}
.work_place{font-size:14px; font-family:Helvetica,Arial; line-height:30px; color:#828282;}
.work_item {line-height:20px; color:#828282;}
.work_item .blue{font-size:14px; font-family:Helvetica,Arial; color:#5CA7BE; border-bottom:#ccc 1px solid; line-height:24px;}

.container { width:378px; height:248px; overflow:hidden; position:relative; cursor:pointer; border:1px #ccc solid; }

.slides { position:absolute; top:0; left:0; }
.slides div {position:absolute; top:0; width:378px; display:none;}
.slides img{width:378px; height:248px;}
ul.pagination {list-style-type:none; padding:0; margin:8px 8px auto auto; float:right;}
ul.pagination li {float:left; margin:0 3px;}	
ul.pagination a {display:block; width:10px; padding-top:10px; height:0; overflow:hidden; background-image:url(../image/navdot.png); background-repeat:no-repeat;}
ul.pagination li.active a {background-image:url(../image/navdot_checked.png); background-repeat:no-repeat;}

#work_top{position:relative}
.work_nav {position:absolute; top:3px; right:-425px; font-size:14px;}
.work_nav li{float:right; margin:auto 3px;}
.work_nav li div{cursor:pointer; height:20px; width:24px}
.work_nav li #work_nav_right{background:url(../image/nav_right.png) no-repeat;}
.work_nav li #work_nav_right:hover{background:url(../image/nav_right1.png) no-repeat}
.work_nav li #work_nav_left{background:url(../image/nav_left.png) no-repeat;}
.work_nav li #work_nav_left:hover{background:url(../image/nav_left1.png) no-repeat}
.work_nav li #work_nav_grid{background:url(../image/nav_grid.png) no-repeat;}
.work_nav li #work_nav_grid:hover{background:url(../image/nav_grid1.png) no-repeat}

.tudou_link a{color:#5CA7BE; font-weight:bold;}
.tudou_link a:hover{text-decoration:underline;}


#index_nav{
	margin-top:280px;
	width:800px;
	margin-left: auto;
	margin-right:auto;
}
#index_nav h1{
	margin:0px;
	color: #4a4a4a;
}
#index_nav li{
	float:left;
	margin:auto 15px;
	font-size: 16px;
	line-height: 40px;
	color:#B5B1AA;
}
#index_nav li a{
	color:#B5B1AA;
	padding:4px 8px;
}
#index_nav li a:hover{
	-moz-box-shadow: 0 5px 12px -6px rgba(92, 167, 190,0.3);
	-webkit-box-shadow: 0 5px 12px -6px rgba(92, 167, 190,0.3);
	-o-box-shadow: 0 5px 12px -6px rgba(92, 167, 190,0.3);
	box-shadow: 0 5px 12px -6px rgba(92, 167, 190,0.3);
}
#index_nav li:first-child{
	margin-right:50px;
	margin-left:0px;
}
#index_nav li:first-child span.name{
	margin-right:10px;
	color:#4a4a4a;
	font-weight: bold;
}
#index_nav li:first-child span.blue{
	color:#5CA7BE;
}
#index_nav li:last-child{
	margin-right: 0px;
}
